<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Mini Shop</title>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
</head>
<body>
<div id="app">
    <div class="main">
        <!-- <div class="header">
            <form class="searchbar" v-on:submit.prevent="onSubmit">
                <input placeholder="Поиск" v-model="search">
                <input type="submit"  class="btn">
            </form>
        </div> -->
        <h1>Mini Shop</h1>
        <div class="content">
            <router-view></router-view>
        </div>
        <!-- <div class="products">                  
            <div class="product" v-for="(item, index) in filteredItems">
                <div class="product-image">            
                    <img v-bind:src="item.src">
                </div>
                <div>
                    <h4 class="product-title">{{item.item}}</h4>
                    <label>{{item.price}}</label>
                    <button class="btn">Add to cart</button>  
                </div>
            </div>
        </div> -->
    </div>
</div>

<!-- Scripts -->
<script type="text/javascript" src="script.js"></script>

</body>
</html>
